@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    pre,
    code {
        @apply bg-[#282c34] !important;
    }
    body {
        @apply bg-gray-50 dark:bg-gray-800;
    }
    button,
    a[role="button"],
    [role="button"] {
        -webkit-tap-highlight-color: transparent;
        @apply transition duration-300 select-none active:scale-95 focus-visible:outline-dashed;
    }
    .container {
        @apply mx-auto max-w-screen-2xl sm:px-6 lg:px-8;
    }

    a:is([href^="https"], ):not(
            [href^="localhost"],
            [href^="127.0.0.1"],
            [no-rel]
        )::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' width='16' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' /%3E%3C/svg%3E%0A");
        padding-left: 2px;
    }

    .tw-container {
        @apply max-w-screen-xl px-4 py-10 mx-auto sm:px-6 sm:py-20 lg:px-8;
    }

    .chip {
        @apply inline-block px-3 py-1 capitalize text-sm rounded-full;
    }

    .ck-editor {
        @apply text-black dark:text-white !important;
    }
}

[no-highlight] {
    -webkit-tap-highlight-color: transparent;
}

[x-cloak] {
    display: none !important;
}
